@media screen and (max-width: 1366px){


	/********* stars *********/
	.main .star1{
		left: 5%;
	}

	.main .star2{
		left: 42%;
	}

	.main .star3{
		left: 90%;
	}

	.main .star4{
		left: 88%;
	}

	.main .star8{
		left: 92%;
	}



	/********* Shooting stars *********/
	.main .shooting-star-container4{
		left: 80%;
	}

	.main .shooting-star-container1{
		left: 5%;
	}

}



@media screen and (max-width: 1199px){


/********* Main Background Circle Image *********/
	.main .bg-main{
		top: 40%;
	}
	.main .bg-main img{
		width: 90%;
	}


	.feature-main-img{
		width: 88%;
    	margin-left: 18px;
	}
	.image-container{
		margin-top: 40px;
	}

	.main .shooting-star-container4 {
		left: 78%;
	}
	/********* Feature Icons *********/
	.features .info-feature .feature-icon::before{
		left: 100%;
	}

	.features .info-feature .feature-icon::after{
		left: 300%;
	}

	.features .info-feature .feature-icon1::before{
		right: 90%;
	}

	.features .info-feature .feature-icon1::after{
		right: 280%;
	}



	/********* Feature Background Circle Image *********/
	.features .bg-feature{
		top: -5%;
	}
	.features .bg-feature img{
		width: 98%;
	}

	/********* App Tutorial Background Circle Image *********/
	.app-tutorial .bg-tutorial img{
		width: 98%;
	}
	/********* App Screenshot Background Circle Image *********/
	.app-screenshot .bg-screenshot img{
		width: 98%;
	}

}


@media screen and (max-width: 1024px){

	.main .star5{
		top: 68%;
		left: 1%;
	}

	.main .shooting-star-container4{
		left: 70%;
	}
	.main .main-content .head-para{
		width: 100%;
	}
}

@media screen and (max-width: 991px){

	.navbar-nav li.nav-item
	{
		margin:8px 0;
		text-align: center;
	}

	.navbar-nav-bg
	{
		background-color: rgba(1, 26, 34, 0.9);
	}

/********* stars *********/
	.main .star3{
		left: 95%;
	}

	.main .star7{
		top: 105%;
	}

	/********* Shooting stars *********/
	.main .shooting-star-container1{
		left: 10%;
    	top: 45%;
	}
	.main .shooting-star-container4{
		left: 70%;
	}
	
/********* Feature Card Margin *********/
	.card-resp{
		margin-bottom: 50px;
	}


	/********* Main Buttons *********/
	.main .main-buttons a{
		flex: 1;
	}

		
/********* Section Padding *********/
	.app-tutorial.section-padding{
		padding: 0px;
	}

	.testimonnials.section-padding{
		padding: 0px;
	}
	.main .main-content{
		text-align: center;
	}


	/********* Feature Icons Pseodu elements *********/
	.features .info-feature .feature-icon::before{
		display: none;
	}
	.features .info-feature .feature-icon::after{
		display: none;
	}

	.features .info-feature .feature-icon1::before{
		display: none;
	}
	.features .info-feature .feature-icon1::after{
		display: none;
	}

	

}

@media screen and (max-width: 768px){
	.main .main-content{
		text-align: center;
	}

	.features .info-header{
		width: 100%;
	}

	.tutorial-content .info-tutorial{
		width: 80%;
	}

	.app-screenshot .info-screenshot{
		width: 100%;
	}

	.testimonnials .info-header{
		width: 100%;
	}

	 .testimonnials .testimonial-content::before{
		 top: -12%;
		 font-size: 55px;
	 }
	 footer .footer-container .head-content{
		flex: 2;
	 }
/********* Shooting stars *********/
	 .main .shooting-star-container4{
		left: 65%;
	}

}


@media screen and (max-width: 576px){

	/********* stars *********/
	.main .star3{
		left: 85%;
		top: 20%;
	}

	.main .star8{
		left: 85%;
    	top: 110%;
	}

	/********* Shooting stars *********/
	.main .shooting-star-container2{
		left: 35%;
    	top: 65%;
	}

	.main .shooting-star-container3{
		left: 33%;
    	top: 75%;
	}
	.main .shooting-star-container4{
		left: 55%;
    	top: 80%;
	}
}


@media screen and (max-width: 455px){
	
/********* stars *********/
	.main .star1{
		display: none;
	}
	.main .star2{
		display: none;
	}
	.main .star3{
		display: none;
	}
	.main .star4{
		display: none;
	}
	.main .star5{
		display: none;
	}
	.main .star6{
		display: none;
	}
	.main .star7{
		display: none;
	}
	.main .star8{
		display: none;
	}

/********* Main Background Circle Image *********/
	.main .bg-main{
		display: none;
	}
	.features .bg-feature{
		display: none;
	}

	.app-tutorial .bg-tutorial{
		display: none;
	}

	.app-screenshot .bg-screenshot{
		display: none;
	}
/********* stars *********/
	.main .star5{
		left: 5%;
		top: 45%;
	}

	.main .star6{
		display: none;
	}

/********* Shooting stars *********/
	.main .shooting-star-container1 {
		display: none;
	}

	.main .shooting-star-container2 {
		display: none;
	}

	.main .shooting-star-container3 {
		display: none;
	}

	.main .shooting-star-container4 {
		display: none;
	}

/********* Main Header *********/
	.main .main-content .section-header{
		font-size: 30px;
		height: 70px;
	}

	.main .main-content .head-para{
		font-size: 15px;
	}

/********* main Buttons *********/
	.main .main-buttons{
		flex-direction: column;
	}

	.main .main-buttons .app-store{
		margin-bottom: 5px;
	}

	

	/********* Service *********/
	
	.section-padding{
		padding: 80px 0;
	}

	.card-resp{
		margin-bottom: 80px;
	}

/********* Features *********/

    .features .section-header{
		font-size: 30px;
	}
	.features .head-para{
		margin-bottom: 100px;
	}

	.features .info-feature{
		flex-direction: column;
	}
	.features .info-feature .para-resp{
		margin-bottom: 60px;
	}

	/********* Tutorial *********/
	.tutorial-content .info-tutorial .section-header{
		font-size: 30px;
	}
	/********* Screenshot *********/
	.app-screenshot .info-screenshot .section-header{
		font-size: 30px;
	}

	.app-screenshot .info-screenshot .head-para{
		font-size: 15px;
	}

	.tutorial-content .info-tutorial .head-para{
		font-size: 15px;
	}
/********* Testimonials *********/
	.testimonnials .testimonial-content::before{
		font-size: 35px;
    	top: -8%;
	}

	.testimonnials .info-header .section-para{
		font-size: 15px;
	}
	.testimonnials .testimonial-content .testi-para{
		font-size: 15px;
		margin-top: 80px;
	}
	.owl-dots{
		display: none;
	}

	.testimonnials .info-header .section-header{
		font-size: 30px;
	}
	
}



@media screen and (max-width: 360px){
	.tutorial-content{
		height: 500px;
	}
	.testimonnials .testimonial-content::before{
		font-size: 30px;
		top: -7%;
	
	}

	.testimonnials .testimonial-content .testi-para{
		margin-top: 50px;
	}

	footer .footer-container a{
		font-size: 15px;
	}

}



