

/***************** Services *****************/
.services{
    background: linear-gradient($background, $background);
    

    .card-content{
        position: relative;
        top: 120px;
        
    }
    
    .card-frame{
        background: $cardBgColor;
        position: relative;
        transition: all 0.5s ease;
        z-index: 3;

        
            .header-card{
                font-family: 'Poppins', sans-serif;
                margin-top: 120px;
                font-weight: 600;
                font-size: 20px;
                color: #fff;
                transition: all 0.3s ease;
                

            }

            .header-card:hover{
                color: #ae44ce;
                cursor: pointer;
                
            }

            .card-para{
            color: $paraColor;
            font-size: 16px;
            }
        }

        .card-frame:hover{
            background:linear-gradient(to top, #172446,#040f2b);
            cursor: pointer;
            
        }



        .card-before1{
            position: relative;
        }

        .card-before2{
            position: relative;
        }
        .card-before3{
            position: relative;
        }

        .card-before1::before{
            position: absolute;
            font-family: FontAwesome;
            content: "\f1b2";
            color: #ae44ce;
            font-size: 50px;
            left: 25%;
            right: 25%;
            top: -15%;
            padding: 30px;
            background: $beforePseudo;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) ;
            z-index: 1;
            transition: all 0.5s ease;
        }

        .card-before2::before{
            position: absolute;
            font-family: FontAwesome;
            content: "\f24d";
            color: #ae44ce;
            font-size: 50px;
            left: 25%;
            right: 25%;
            top: -15%;
            padding: 30px;
            background: $beforePseudo;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) ;
            z-index: 1;
            transition: all 0.5s ease; 
        }

        .card-before3::before{
            position: absolute;
            font-family: FontAwesome;
            content: "\f023";
            color: #ae44ce;
            font-size: 50px;
            left: 25%;
            right: 25%;
            top: -15%;
            padding: 30px;
            background: $beforePseudo;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) ;
            z-index: 1;
            transition: all 0.5s ease; 
        }

        .card-before1:hover::before{
             background:linear-gradient(to top, #172446,#040f2b);
             
        }

        .card-before2:hover::before{
            background:linear-gradient(to top, #172446,#040f2b);
            
       }

       .card-before3:hover::before{
        background:linear-gradient(to top, #172446,#040f2b);
       
   }
    }

    